@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}


@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}


@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}


@font-face{
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}


@font-face{
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat" ;
    src: url(../fonts/montserrat/Montserrat-Black.ttf);
    font-weight: 900;
    font-style: normal;
}







@font-face {
    font-family: "Cprmprantlnafant";
    src: url(../fonts/cormorant/CormorantInfant-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Cprmprantlnafant";
    src: url(../fonts/cormorant/CormorantInfant-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Cprmprantlnafant";
    src: url(../fonts/cormorant/CormorantInfant-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Cprmprantlnafant";
    src: url(../fonts/cormorant/CormorantInfant-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}





@font-face {
    font-family: "Cprmprantlnafant";
    src: url(../fonts/cormorant/CormorantInfant-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cprmprantlnafant";
    src: url(../fonts/cormorant/CormorantInfant-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Cprmprantlnafant";
    src: url(../fonts/cormorant/CormorantInfant-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cprmprantlnafant";
    src: url(../fonts/cormorant/CormorantInfant-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

